@font-face {
    font-family: Roboto;
    src: url('../font_Roboto/Roboto-Regular.ttf');
    font-style: normal;
}
@font-face {
    font-family: Roboto-Bold;
    src: url('../font_Roboto/Roboto-Bold.ttf');
    font-style: normal;
}
@font-face {
    font-family: Roboto-Light;
    src:url('../font_Roboto/Roboto-Light.ttf');
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
body {
    font-family: Roboto;
}
.line_up {
    display: flex;
    flex-wrap: wrap;
}
.row {
    margin: 0;
}
/*---------- detail item ----------*/
.category_right img {
    width: 100%;
}
.details_pro {
    padding-top: 20px;
}
.status_name {
    color: #e57368;
}
.title_product, .price_box, .form_btn_detail p {
    font-family: Roboto-Bold;
}
.title_product {
    font-size: 30px;
}
.price_box {
    font-size: 24px;
}
.info_product {
    font-size: 14px;
    padding: 15px 0 25px 0;
}
.form_btn_detail p {
    font-size: 14px;
    margin-bottom: 10px;
}
.add_to_cart_btn {
    margin-bottom: 20px;
}
.add_to_cart_btn a {
    background-color: #00000090;
    color: #ffffff;
    padding: 15px;
    font-family: Roboto-Bold;
}
.add_to_cart_btn:hover a {
    color: #e97777;
}
.add_to_cart_btn a:hover {
    border: 2px solid #e97777;
    background-color: #ffffff;
}

.btn_added {
    margin-bottom: 30px;
    opacity:1;
    display:inline-block;
    display:-ms-inline-flexbox;
    display:inline-flex;
    white-space:nowrap;
    vertical-align:top;
}
.is-form {
    overflow:hidden;
    position:relative;
    background-color:#f9f9f9;
    height:2.2rem;
    width:1.9rem;
    padding:0;
    text-shadow:1px 1px 1px #fff;
    border:1px solid #ddd;
}
.is-form:focus,.input-text:focus {
    outline:none;
}
.is-form.minus {
    border-radius:4px 0 0 4px;
}
.is-form.plus {
    border-radius:0 4px 4px 0;
}
.input-qty {
    background-color:#fff;
    height:2.2rem;
    text-align:center;
    font-size:1rem;
    display:inline-block;
    vertical-align:top;
    margin:0;
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;
    border-left:0;
    border-right:0;
    padding:0;
}
.input-qty::-webkit-outer-spin-button,.input-qty::-webkit-inner-spin-button {
    appearance: none;
    margin:0;
}
/*---------- product tab ----------*/
.product_tab {
    padding: 0;
}
.tab_link h3 {
    font-size: 18px;
    text-align: center;
    margin: 0;
    color: #818181;
    padding: 15px;
    cursor: pointer;
}
.tabs_title {
    padding: 60px 0 20px 0;
    align-items: center;
}
.tabs_title li {
    padding: 0;
}
.active h3 {
    background-color: #6dd3d1;
    color: #ffffff;
}
.tab_float {
    font-size: 14px;
    padding-bottom: 20px;
}
.tab_float img {
    width: 60%;
}
.tab_1 {
    text-align: center;
}
.tab_1 p {
    text-align: left;
}
.tab_2 {
    display: none;
}