@font-face {
    font-family: Roboto;
    src: url('../font_Roboto/Roboto-Regular.ttf');
    font-style: normal;
}
@font-face {
    font-family: Roboto-Bold;
    src: url('../font_Roboto/Roboto-Bold.ttf');
    font-style: normal;
}
@font-face {
    font-family: Roboto-Light;
    src:url('../font_Roboto/Roboto-Light.ttf');
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
body {
    font-family: Roboto;
}
h2 {
	height: 35px;
	padding-top: 13px;
    margin: 0;
}

.line_up {
    display: flex;
    flex-wrap: wrap;
}

.title_module_main {
    text-align: center;
    padding: 45px 0 80px;
}
.title_module_main h2 {
    font-size: 20px;
    font-family: Roboto-Bold;
    padding: 25px 0;
    position: relative;
}
.title_module_main h2:after {
    position: absolute;
    width: 20px;
    height: 3px;
    margin-left: -10px;
    left: 50%;
    content: '';
    bottom: 0;
    background: #000000;
}
/*---------- header ----------*/
.navbar {
    padding: 0;
}
.dropdown-item {
    font-weight: 500;
    font-size: 15px;
}
.nav-item {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 15px;
}
.nav-link {
    color: #fff !important;
}
.nav-link:hover {
    opacity: 0.4;
}
.holder {
    padding :  1em;
    margin-left: 0.5em;
}
.add2 {
    margin-left: 0.5em;
}
/*---------- category ----------*/
.category {
	padding: 0;
	margin: 0;
    font-family: Roboto;
}
.category a {
    color: #000000;
}
.category i {
    font-size: 10px;
}
.category h5 a:hover  {
    color: #e97777;
}
.title_module_main {
    padding: 0;
    text-align: left;
} 
.title_module_main h2:after {
    left: 0;
    margin: 0;
}
.top_nav ul {
    padding-top: 85px;
}
.top_nav li {
    padding-right: 10px;
    font-size: 13px;
}
.top_nav li:last-child {
    font-family: Roboto-Bold;
}
.top_nav li:hover {
    font-family: Roboto-Bold;
}
.category_left_content {
    padding: 25px 0 25px 20px;
}
.category_left_content i {
    padding-right: 8px;
}
.category_left_content > ul {
	padding-left: 0;
}
.category_left_menu > a {
    font-family: Roboto-Bold;
}
.category_left_menu > a > i {
    padding-left: 100px;
}
.category_left_menu ul {
	display: none;
}
.category_left_menu.block ul {
	display: block;
}
.category_left_menu li a:hover {
    font-family: Roboto-Bold;
    color: #e97777;
}
.hot_item {
    padding: 10px 0;
    border: 1px solid #dddddd;
    margin: 20px 0;
}
.hot_item img {
    width: 100%;
}
.hot_item h5 {
    font-size: 14px;
}
@media (max-width: 992px) {
	.category_left {
		display: none;
	}
}


.category_right_content {
    padding-top: 15px;
}
.category_right_content_item {
	border: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    text-align: center;
}
.category_right_content_item h5 {
    padding-top:10px;   
}
.category_right_content_item h5 a, .hot_item h5 a {
    display: block;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.category_right_content_item img {
	width: 100%;
}
.category_right_content_item p, .hot_item p {
    font-family: Roboto-Bold;
}
.category_right_top button, .category_right_top select {
    width: 100%;
    height: 46px;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    cursor: pointer;
}
.category_right_top select {
    margin-right: 20px;
}
.category_right_top button i {
    font-size: 10px;
    padding-top: 7px;
    margin-right: -10px;
}
.dropdown-menu .form {
    padding-left: 7px;
}
.dropdown-menu h6 {
    text-align: left;
    padding: 5px 50px 10px 10px;
    font-weight: bold;
    color: #000000;
    border-bottom: 2px solid #000000;
} 
.category_top h2 {
    padding: 0;
	font-size: 17px;
	font-family: Roboto-Bold;
}
.lazyload_item img {
    transition: 0.5s;
}
.lazyload_item:hover img {
    opacity: 0.7;
}
.lazyload_item:hover .popup_item {
    display: block;
}
.popup {
    position: relative;
}
.popup_item {
    position: absolute;
    display: none;
    padding: 0;
    margin: 0;
    width: 100%;
    top: 30%;
}
.popup_item a {
    padding: 10px;
}
.popup_item li {
    color: #ffffff;
    font-size: 16px;
    padding: 15px;
    border-radius: 50%;
}
.popup_item a:nth-child(1) li {
    background-color: #6dd3d1;
}
.popup_item a:nth-child(2) li {
    background-color: #fabc59;
}

.pagination {
    font-family: Roboto-Bold;
    justify-content: center;
    text-align: center;
}
.pagination i {
    font-size: 16px;
}
.pagination a {
    padding: 9px 0 0 0;
    margin: 0;
    width: 45px;
    height: 45px;
    border: 2px solid #dddddd;
}
.pagination li {
    padding: 7px;
}
.pagination .page_btn_active a {
    color: #dddddd;
}
.page-link {
    border-radius: 5px;
}
/* .page-item:last-child .page-link, .page-item:first-child .page-link {
    border-radius: 50px;
} */
.pagination .active a {
    z-index: 0;
    background-color: #474747;
    border: 2px solid #474747;
}
/*---------- footer ----------*/
.footer {
    padding: 30px 0;
    background-color: #000000;
    color: #ffffff;
}
.footer a {
    color: #dddddd;
}
.footer h4 {
    font-family: Roboto-Bold;
}
.addr p i {
    padding-right: 5px;
}
.addr ul {
    display: flex;
    padding: 0;
}
.addr li a {
     width: 40px;
     height: 40px;
     background: #222;
     display: flex;
     justify-content: center;
     align-items: center;
     margin-right: 10px;
     text-decoration: none;
     border-radius: 5px;
     color: #fff;
}
.addr li a:hover {
    background-color: #fff;
    color: #000;
}
.news .col-2 {
    min-width: 60px;
}
.news_item {
    padding-left: 20px;
    align-items: center;
    text-align: left;
    display: flex;
    padding-bottom: 15px;
}
.news_item div {
    padding: 0;
}
.news_item img {
    height: 45px;
    width: 60px;
}
.news_info {
    margin-left: 5px;
    border-bottom: 1px solid #dddddd40;
}
.news_info p {
    margin: 0;
    font-size: 12px;
}
.news_item h5 {
    font-size: 14px;
}
.news_info a:hover, .phone_num a:hover {
    color: #e97777;
}


.bold {
    font-family: Roboto-Bold;
}